<app-nav></app-nav>
<div class="container-flex content background-image">
  <!-- Primera fila de cards -->
  <div class="row ms-1 me-1">
    <div class="col-sm mt-2">
      <div class="card" style="align-items: center">
        <img src="img/harry.jpg" class="card-img-top" alt="Harry Potter" />
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Autor Genero</p>
          <a href="libro.html" class="btn btn-primary">Go into the book</a>
        </div>
      </div>
    </div>
    <div class="col-sm mt-2">
      <div class="card" style="align-items: center">
        <img src="img/orphanage.jpg" class="card-img-top" alt="Orphanage" />
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Autor Genero</p>
          <a href="libro.html" class="btn btn-primary">Go into the book</a>
        </div>
      </div>
    </div>
    <div class="col-sm mt-2">
      <div class="card" style="align-items: center">
        <img src="img/trucho.jpg" class="card-img-top" alt="trucho" />
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Autor Genero</p>
          <a href="libro.html" class="btn btn-primary">Go into the book</a>
        </div>
      </div>
    </div>
    <div class="col-sm mt-2">
      <div class="card" style="align-items: center">
        <img src="img/lost.jpg" class="card-img-top" alt="lost" />
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Autor Genero</p>
          <a href="libro.html" class="btn btn-primary">Go into the book</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Segunda fila de cards (duplicada) -->
  <div class="row ms-1 me-1">
    <div class="col-sm mt-2">
      <div class="card" style="align-items: center">
        <img src="img/harry.jpg" class="card-img-top" alt="Harry Potter" />
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Autor Genero</p>
          <a href="libro.html" class="btn btn-primary">Go into the book</a>
        </div>
      </div>
    </div>
    <div class="col-sm mt-2">
      <div class="card" style="align-items: center">
        <img src="img/orphanage.jpg" class="card-img-top" alt="Orphanage" />
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Autor Genero</p>
          <a href="libro.html" class="btn btn-primary">Go into the book</a>
        </div>
      </div>
    </div>
    <div class="col-sm mt-2">
      <div class="card" style="align-items: center">
        <img src="img/trucho.jpg" class="card-img-top" alt="trucho" />
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Autor Genero</p>
          <a href="libro.html" class="btn btn-primary">Go into the book</a>
        </div>
      </div>
    </div>
    <div class="col-sm mt-2">
      <div class="card" style="align-items: center">
        <img src="img/lost.jpg" class="card-img-top" alt="lost" />
        <div class="card-body">
          <h5 class="card-title">Book title</h5>
          <p class="card-text">Autor Genero</p>
          <a href="libro.html" class="btn btn-primary">Go into the book</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
