<app-nav></app-nav>

<div class="container-flex content background-image">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="img/harry.jpg" class="card-img-top" alt="harry" />
          <div class="card-body">
            <h5 class="card-title">Book title 1</h5>
            <p class="card-text">A short description about the book.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Username</li>
            <li class="list-group-item">Rating 8/10</li>
            <li class="list-group-item">Review</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">User</a>
            <a href="#" class="card-link">Book</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img src="img/lost.jpg" class="card-img-top" alt="lost" />
          <div class="card-body">
            <h5 class="card-title">Book title 2</h5>
            <p class="card-text">A short description about the book.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Username</li>
            <li class="list-group-item">Rating 8/10</li>
            <li class="list-group-item">Review</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">User</a>
            <a href="#" class="card-link">Book</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img src="img/orphanage.jpg" class="card-img-top" alt="orphanage" />
          <div class="card-body">
            <h5 class="card-title">Book title 3</h5>
            <p class="card-text">A short description about the book.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Username</li>
            <li class="list-group-item">Rating 8/10</li>
            <li class="list-group-item">Review</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">User</a>
            <a href="#" class="card-link">Book</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img src="img/trucho.jpg" class="card-img-top" alt="trucho" />
          <div class="card-body">
            <h5 class="card-title">Book title 4</h5>
            <p class="card-text">A short description about the book.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Username</li>
            <li class="list-group-item">Rating 10/10</li>
            <li class="list-group-item">Review</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">User</a>
            <a href="#" class="card-link">Book</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
